@import "./buttonReset";
@import "./reset";
@import "./tachyons";
@import "./masonry";
@import "./fonts";
// extend Tachyons with some custom classes
// WIDTH AND HEIGHT
.min-vh-25 {
  min-height: 25vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.min-vh-90 {
  min-height: 90vh;
}

// Border Box

.border-box {
  box-sizing: border-box;
}

// list styles

.custom-list {
  margin-top: 0;
  padding-top: 0;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  list-style: disc outside !important;
  li {
    margin-bottom: 1rem;
    padding-left: 1rem;
    line-height: 1.1rem;
  }
}

// link styles

.custom-link {
  &:visited,
  &:active,
  &:link {
    color: white;
    font-weight: 700;
    text-decoration: underline;
  }
}

// override margin

.force-no-margin {
  margin: 0 0 0 0 !important;
}


